body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.ant-layout {
  overflow-x: hidden;
}

.ant-layout-content {
  overflow-x: hidden;
  box-sizing: border-box;
}